{% extends 'layout.html' %}
{% block content %}
    <style>
        .dev {
            font-size: 150%;
            text-align: center;
            color: black;
            background-color: burlywood;
            background-position: center;
            padding-left: -50px;
        }
    </style>
    <div class="jumbotron my-4 container" style="padding: 100px; padding-left: 300px;">
        <legend style="text-align: center; font-size: 300%;">
            Developers
        </legend>
        <ul>
            <li class="dev">
                Aditya Patkar   
            </li>
            <li class="dev">
               Archeel Parekh
            </li>
            <li class="dev">
               Mohammed Mehdi Patel
            </li>
            <li class="dev">
                Siddharth Nayak
            </li>
        </ul>
    </div>
    <br>
    <br>
    <footer class="py-5 ">
        <div class="container">
            <p class="m-0 text-center text-black-50" style="color: black; padding-left: 300px;">Copyright &copy; INV 2020</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock content %}