{% extends "customer_layout.html" %}
{% block content %}
<div class="container" style="text-align: center; padding-top: 100px;padding-left: 120px;">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="padding-left: 70px;">Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items :%}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{item[0].image_url}}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item[0]['item_name']}}</a></h4>
                                <h5 class="media-heading"> by <a href="#">{{item[0]['item_info']}}</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <h4 class="media-heading"><a href="#">{{item[1]}}</a></h4>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item[0]['selling_price']}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item[0]['selling_price']*item[1]}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" onclick="removefromcart( {{ item[0]['id'] }} );">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-default" href="/customer_home">Checkout</button>
            </div>
        </div>
    </div>
</div>

<script>
    function removefromcart(a){
    $.ajax({
                 type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({'product_id':a}),
                dataType: 'json',
                url: 'http://localhost:3000/remove_from_cart',
                success: function (e) {
                    console.log(e);
                    window.location.reload();
                },
                error: function(error) {
                console.log(error);
            }
            });
    }
</script>

{% endblock content%}