{% extends "customer_layout.html" %}
{% block content %}


<style>

    .a-price-whole{
        font-size: large;
        font-weight: 500;
        color:darkgreen;
        
    }
    .cd{
        font-weight: 700;
        font-size: x-large;
        color:darkblue;
    }
    .cb{
        margin-bottom: 30px;
        height: 400px;
        width: 350px;
        padding-block-start: 20px;
    }
    </style>


<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>All Inventories by <b><u>{{ admin.first_name }} {{admin.last_name}}</u></b></span>
          </h4>

        </div>

      </div>
      <!-- Heading -->
      
    <div class="container">
 
        
         
        <div class="row">
            
            {% for inv in admin_inventories %}
          <div class="col-sm-4">
         
            <div class="card cb">
         
            <img class="card-img-top" style="width: 80%; height: 150px; padding-left: 35px;" src="{{inv.image_url}}"" alt="{{ inv["item_name"]}}">
         
              <div class="card-body text-center">
         
                <h5 class="card-title cd">{{ inv["item_name"]}}</h5>
         
                <p style="padding-bottom: 10px;" class="card-text text-left">Price:<span class="a-price-whole">{{ inv["selling_price"]}}</span> </p>
                
                <button class="btn btn-primary btn-success" onclick="addtocart( {{ inv["id"] }} );">Add</button>
                <button class="btn btn-primary btn-info" onclick="decreasefromcart( {{ inv["id"] }} );">Decrease</button>
                <button class="btn btn-primary btn-danger" onclick="removefromcart( {{ inv["id"] }} );">Remove</button>
              </div>
         
            </div>
         
          </div>


        
          {% endfor %}
    </div>

    </main>
<script>
  function addtocart(a){
    $.ajax({
                 type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({'product_id':a}),
                dataType: 'json',
                url: 'http://localhost:3000/add_to_cart',
                success: function (e) {
                    console.log(e);
                },
                error: function(error) {
                console.log(error);
            }
            });
  };
  function decreasefromcart(a){
    $.ajax({
                 type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({'product_id':a}),
                dataType: 'json',
                url: 'http://localhost:3000/decrease_from_cart',
                success: function (e) {
                    console.log(e);
                },
                error: function(error) {
                console.log(error);
            }
            });
  };
  function removefromcart(a){
    $.ajax({
                 type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({'product_id':a}),
                dataType: 'json',
                url: 'http://localhost:3000/remove_from_cart',
                success: function (e) {
                    console.log(e);
                },
                error: function(error) {
                console.log(error);
            }
            });
  }
</script>


{% endblock content %}

